.footer {
    padding: 65px 60px 25px;
    background: var(--black);
    position: relative;
    z-index: 3;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.footerLeft {
    text-align: left;
}

.footerLogoImg {
    width: 225px;
    height: 50px;
}

.footerLogoText {
    margin-bottom: 29px;
    margin-top: 15px;
    max-width: 340px;
    text-align: left;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: lowercase;
    color: var(--grey-dark);
}

.footerSocial {
    margin-bottom: 55px;
}

.footerSocialIcon {
    width: 25px;
    height: 25px;
    margin-right: 35px;
    cursor: pointer;
}

.footerRight {
    display: flex;
    flex-direction: row;

    & > * + * {
        margin-left: 92px;
    }
}

.footerColumnTitle {
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    color: var(--grey-dark);
}

.footerProjectsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 50px;
    text-align: left;
    margin-bottom: 48px;
}

.footerLinksList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 40px;
    text-align: left;
}

.footerLink {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--white);
    transition: color 0.15s;

    &:hover {
        color: var(--orange);
    }
}

.footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerTerms {
    display: flex;

    & > * + * {
        margin-left: 16px;
    }
}

.footerTermsText {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    color: var(--grey-dark);
    transition: color 0.15s;

    &:hover {
        color: var(--white);
    }
}

.footerTermsCopy {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    color: var(--grey-dark);
    transition: color 0.15s;
}

.pageDivider {
    margin-bottom: 25px;
    border: 1px solid var(--grey-dark);
}
